<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <style>
  </style>
</head>
<body>

  <table class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>ASIN</th>
        <th>Title</th>
        <th>Image</th>
        <th>Stars</th>
        <th>Reviews</th>
        <th>Price</th>
        <th>List Price</th>
        <th>Category Name</th>
        <th>Is Best Seller</th>
        <th>Last Month Sale</th>
      </tr>
    </thead>
    <tbody>
      {{#if data}}
        {{#each data}}
            <tr class="display">
              <td>{{this.asin}}</td>
              <td>{{this.title}}</td>
              <td>
                <img src={{this.imgUrl}} alt="" class="img-fluid text-center" loading="lazy" width="50px" />
              </td>
              <td>{{this.stars}}</td>
              <td>{{this.reviews}}</td>
              <td>{{this.price}}</td>
              <td>{{this.listPrice}}</td>
              <td>{{this.categoryName}}</td>
              <td>{{this.isBestSeller}}</td>
              <td>{{this.boughtInLastMonth}}</td>
            </tr>
        {{/each}}
      {{/if}}
    </tbody>
  </table>


  <!-- Bootstrap JS (optional, but needed for certain features like dropdowns) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
